{% extends "base.html.twig" %}

{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <h1>ADD Article</h1>
    <hr>
    <br>
    {{ form_start(formArticle) }}

    {{ form_row(formArticle.title, { 'attr' : {'placeholder' : 'Article Title', 'class' : 'form-control'}}) }}
    {{ form_row(formArticle.content, { 'attr' : {'placeholder' : 'Article Content'}}) }}
    {{ form_row(formArticle.image, { 'attr' : {'placeholder' : 'Article URL'}}) }}

    
    <button type="submit" class="btn btn-danger btn-lg"> {% if editMode %} Save {% else %} Add Article {% endif %} </button>

    {{ form_end(formArticle) }}
{% endblock %}


