{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
    <section class="articles">

        {% for article in articles %}
            <article>
                <h2>{{ article.title }}</h2>
                <div class="metadata">written at {{ article.createdAt | date('m/d/Y') }} </div>
                <div class="content">
                    <img src="{{ article.image }}" alt="">
                    <p>{{ article.content | raw }}</p>
                    <a href="{{ path('blog_show', {'id' : article.id }) }}" class="btn btn-primary">Read More</a>
                </div>
            </article>
        {% endfor %}
       
    </section>
{% endblock %}
